.registerForm {
  margin: 6em auto;
  width: 24em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
.registerForm label {
  display: block;
  margin: 0.5em 0;
}
.registerForm input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.registerForm button {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  background-color: #ccc;
  cursor: pointer;
  margin-top: 1.3em;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #a0a0a0;
}
p.formWarning {
  color: rgb(212, 8, 8);
  font-size: 0.9em;
  position: relative;
  top: -1em;
}
input.formWarning {
  border: 1px solid rgb(212, 8, 8);
}
