@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/home-nav.css';
@import './styles/hero.css';
@import './styles/home-search.css';
@import './styles/footer.css';
@import './styles/home.css';
@import './styles/user-form.css';

@import './styles/login.css';
/* :root  {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
body {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
